In [1]:
import pandas as pd
import seaborn as sns
import pyarrow as pa

Matplotlib is building the font cache; this may take a moment.

In [3]:
# Data Source
url = 'https://storage.dosm.gov.my/gdp/gdp_state_real_supply.parquet'
gdp_by_state = pd.read_parquet(url)

In [4]:
gdp_by_state

          series       date  state sector       value
0            abs 2015-01-01  Johor     p0  110002.221
1            abs 2015-01-01  Johor     p1   15610.314
2            abs 2015-01-01  Johor     p2     475.640
3            abs 2015-01-01  Johor     p3   32358.659
4            abs 2015-01-01  Johor     p4    7269.160
...          ...        ...    ...    ...         ...
1899  growth_yoy 2023-01-01  Supra     p2       3.803
1900  growth_yoy 2023-01-01  Supra     p3         NaN
1901  growth_yoy 2023-01-01  Supra     p4         NaN
1902  growth_yoy 2023-01-01  Supra     p5         NaN
1903  growth_yoy 2023-01-01  Supra     p6         NaN

[1904 rows x 5 columns]

In [6]:
# Show unique values for each column in the DataFrame
print("Unique values in 'series' column:")
print(gdp_by_state['series'].unique())
print("\nUnique values in 'state' column:")
print(gdp_by_state['state'].unique())
print("\nUnique values in 'sector' column:")
print(gdp_by_state['sector'].unique())
print("\nUnique values in 'date' column:")
print(gdp_by_state['date'].unique())
print("\nUnique values in 'value' column (first 10):")
print(gdp_by_state['value'].unique()[:10])

Unique values in 'series' column:
['abs' 'growth_yoy']

Unique values in 'state' column:
['Johor' 'Kedah' 'Kelantan' 'Melaka' 'Negeri Sembilan' 'Pahang' 'Perak'
 'Perlis' 'Pulau Pinang' 'Sabah' 'Sarawak' 'Selangor' 'Terengganu'
 'W.P. Kuala Lumpur' 'W.P. Labuan' 'Supra']

Unique values in 'sector' column:
['p0' 'p1' 'p2' 'p3' 'p4' 'p5' 'p6']

Unique values in 'date' column:
<DatetimeArray>
['2015-01-01 00:00:00', '2016-01-01 00:00:00', '2017-01-01 00:00:00',
 '2018-01-01 00:00:00', '2019-01-01 00:00:00', '2020-01-01 00:00:00',
 '2021-01-01 00:00:00', '2022-01-01 00:00:00', '2023-01-01 00:00:00']
Length: 9, dtype: datetime64[us]

Unique values in 'value' column (first 10):
[1.10002221e+05 1.56103140e+04 4.75640000e+02 3.23586590e+04
 7.26916000e+03 5.30584470e+04 1.23000100e+03 3.95495810e+04
 5.42336800e+03 8.30560000e+01]